{
  "parserOptions": {
    "ecmaVersion": 7
  },
  "rules": {
    "semi": 2
  },
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "commonjs": true
  },
  "globals": {
    "__dirname": false,
    "process": false
  }
}
